<div class="container main" ng-controller="MainController">
    <h3>My Angular 1.x Seed</h3>
    <strong>This seed is setup with following presets:</strong>
    <ul>
        <li>It's a basic angular project with controller.js, directives.js and services.js according to the structure used in ionc framework.</li>
        <li>Running 'gulp' a local server is started, sass parsed and livereload started.</li>
        <li>Running 'gulp dist' all the relevant files are copied, all css combined and js combined to two .min.js files.</li>
        <li>This seed comes with 'angular material' installed. If not needed run 'bower uninstall angular-material'.</li>
    </ul>
    <ul>
        <li>To perform a minor update, run 'gulp dist' and copy the app.min.js to the server (includes controllers, directives and services) or the appropriate html-file.</li>
        <li>To perform a major update, run 'gulp dist' and copy the entire dist folder content to the server. Replace files there using an appropriate rule.</li>
        <li>To make sure all changes are live, run 'gulp dist', remove everything on the server and upload the dist folder content. Make sure to either keep files like '.htaccess' on the server or add them to the project as well as to the 'gulp move' task.</li>
    </ul>
</div>